body{
    background-color: #F4F8FA;
    height: 100%;
    margin: 0px;
}
.tag-fields {
    background-color: #7E57C2;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    display: inline-block;
    min-width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tag-fields > span{
    color: #fff;
}
.panel-info{
    border-color: #eee; 
    margin-top: 10px;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.section-placeholder{
    border: 1px solid red;
    background-color: #eee; 
}

.no-border {
    border: 0px;
}
.ui-state-highlight { 
    background-color: #F5F5F5; 
    width: 100%; 
    height: 120px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.field-delete{
    margin-left: 5px;
    font-size: 13px; 
    color: #ccc;
    padding: 8px;
    cursor: default;
}

.field-delete:hover {
    color: #E57373;
}

.field-drag{
    margin-left: 5px;
    font-size: 15px; 
    color: #ccc;
    padding: 8px;
    cursor: default;
}

.field-drag:hover {
    color: #B39DDB;
}
.btn{
    text-transform: uppercase;
    min-width: 90px;
    font-size: 10px;
}

.panel-sections{
    padding-top: 10px; 
    padding-bottom: 20px; 
    background-color: #fff !important; 
    border-color: #eee !important; 
    font-weight: bold;
}
.form-info{
    font-size: 10px; 
    color: #ccc; 
    padding-left: 5px;
}
.no-display{
    display: none;
}
.display{
    display: block;
}
.no-data{
    text-align: center; 
    padding: 20px;
}
.container-fluid {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}


.menu{
    padding: 0px;
    background-color: #263238;
    color: #fff;
}

.menu ul {
    margin: 0; 
    padding: 0;
    width:100%;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    color: white; 
    padding: 15px 15px;
    display:block;
    font-size: 11px;
    text-transform: uppercase;
}

.menu ul li ul li a {
    padding-left: 25px;

}
 
.menu ul li a:visited {
    color: white;
}
 
.menu ul li a:hover{
    color: #fff;
    background-color: #2196F3;
}

.menu ul li .current {
    color: #2196F3 !important;
}
.menu ul li .current:hover {
    color: #fff !important;
}

.menu > div{
    margin-bottom: 40px;
    text-align: center;
}