﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Profile View</title>
</head>
<body ng-app="crmui">
    <div id="spinner" style="text-align: center;"><img src="img/loading.gif" alt="loading" /></div>
    <div class="container-fluid" style="display: none;">
        <div class="row">
            <div class="col-sm-2 no-float menu" ng-controller="MenuCtrl">
                <div>{{menu.title}}</div>
                <ul>
                    <li ng-repeat="item in menu.items">
                        <a href="{{item.url}}" ng-class="item.current == true? 'current': ''">{{item.title}}</a>
                        <ul ng-if="item.subMenu">
                            <li ng-repeat="sub in item.subMenu"><a href="{{sub.url}}">{{sub.title}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 no-float" ng-controller="ProfileViewCtrl">
                <div class="panel panel-info">
                    <div class="panel-heading panel-sections">
                        Profile View
                        <div class="pull-right">
                            <button class="btn btn-primary btn-outline" ng-click="sections.openAddModal(section)">
                                Add New Section
                            </button>
                        </div>
                    </div>
                    <div class="panel-body" id="sections">
                        <div class="panel panel-default section" style="position: relative;" ng-repeat="section in sections | orderBy:sorterSection">
                            <div class="panel-heading">
                                <span style="padding-right: 20px;">{{section.name}}</span>
                                <input type="text" ng-model="section.position" class="position no-display" ng-value="section.position">
                                <button class="btn btn-primary btn-outline no-border" ng-click="sections.openEditModel(section)">
                                    Edit Section
                                </button>
                                <button type="button" class="btn btn-primary btn-outline no-border" ng-click="sections.openDeleteModal(section, $index)">
                                    Delete Section
                                </button>

                                <a class="btn btn-primary btn-outline no-border draggable_area" href="#" role="button">
                                    Move Section
                                </a>

                                <span class="pull-right">
                                    <button type="button" class="btn btn-primary btn-outline no-border" data-toggle="modal" ng-click="newField.openAddModal(section)">
                                        Add Field
                                    </button>

                                    <button type="button" class="btn btn-primary btn-outline no-border"
                                            data-toggle="modal" data-target="#modalDialog">
                                        Create Field Groups
                                    </button>
                                </span>
                            </div>
                            <div class="panel-body fields">
                                <div class="tag-fields" ng-repeat="field in section.fields | orderBy:sorterField">
                                    <input type="text" ng-model="field.position" class="field-position no-display" ng-value="field.position">
                                    <span>{{field.name}}</span>
                                    <span class="pull-right">
                                        <span class="draggable_area field-drag">
                                            <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                        </span>
                                        <span class="field-delete" ng-click="sections.deleteField(section.fields, field)">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="no-data" ng-if="section.fields.length == 0">
                                No Fields Exist
                            </div>
                        </div>
                        <div class="no-data" ng-if="sections.length == 0">
                            No Sections Exist
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-bottom: 65px;">
                    <button type="button" class="btn btn-primary btn-outline" style="font-size: 11px;">Cancel</button>
                    <button type="button" class="btn btn-primary" style="font-size: 11px;">Save</button>
                </div>
                <!-- ADD, EDIT & DELETE MODALS. MODAL CODE CAN BE OUTERMOST, BUT THE CONTROL SCOPE IS LIMITED TO THE CURRENT DIV -->
                <!-- modal: add new section -->
                <div class="modal fade" id="sectionModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form name="sectionHandler">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">
                                        <span ng-if="!placeholder.edit">Add</span>
                                        <span ng-if="placeholder.edit">Edit</span>
                                        Section
                                    </h4>
                                </div>
                                <div class="modal-body form-inline">

                                    <input type="radio" name="newsectionType" id="new-section" value="N" ng-model="placeholder.type">
                                    <label for="new-section">New Section</label>&nbsp;&nbsp;
                                    <input type="radio" name="newsectionType" id="default-section" value="D" ng-model="placeholder.type">
                                    <label for="default-section">Default Section</label>
                                    <br /><br />
                                    <label for="newSectionName">Section Name</label><br />
                                    <input type="text" class="form-control" id="newSectionName" ng-model="placeholder.name" placeholder="Section Name" style="width: 50%;" ng-minlength="1" maxlength="20" required>
                                    <span class="form-info">
                                        {{placeholder.name.length || 0}}/20
                                    </span>
                                    <br /><br />
                                    <div ng-if="sections.length != 0">
                                        <label>Order Position</label><br />
                                        <select class="form-control" ng-model="placeholder.placement">
                                            <option selected="true" value="A">Above</option>
                                            <option value="B">Below</option>
                                        </select>
                                        <select class="form-control" ng-model="placeholder.placementSection" id="temp"
                                                ng-options="section as section.name for section in sections  | orderBy:sorterSection"></select>
                                    </div>
                                </div>
                                <div class="modal-footer" ng-if="!placeholder.edit">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="sections.add()" ng-disabled="sectionHandler.$invalid">Add</button>
                                </div>
                                <div class="modal-footer" ng-if="placeholder.edit">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="sections.edit()" ng-disabled="sectionHandler.$invalid">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- modal: delete a section -->
                <div class="modal fade" id="deleteSection" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Delete Section ({{placeholder.section.name}})</h4>
                            </div>
                            <div class="modal-body form-inline">
                                <label>
                                    Do you want to delete section {{placeholder.section.name}}?
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" ng-click="sections.delete()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal: add new field to a section -->
                <div class="modal fade" id="addNewField" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form name="fieldHandler">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Add Fields ({{newField.section.name}})</h4>
                                </div>
                                <div class="modal-body form-inline">
                                    <label for="newFieldName">Filed Name</label><br />
                                    <input type="text" class="form-control" id="newFieldName" ng-model="newField.name" placeholder="Filed Name" style="width: 50%;" ng-minlength="1" maxlength="20" required>
                                    <span class="form-info">
                                        {{newField.name.length || 0}}/20
                                    </span>
                                    <br /><br />
                                    <label>Choose Property</label><br />
                                    <select class="form-control" ng-model="newField.property" required>
                                        <option>Hostel</option>
                                        <option>Medical Residency</option>
                                        <option>Board Certification</option>
                                        <option>IP Location</option>
                                        <option>Browser Agent</option>
                                        <option>Contact Address</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="newField.add()" ng-disabled="fieldHandler.$invalid">
                                        Add
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- modal -->
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modalDialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">What are you doing?!</h4>
                            </div>
                            <div class="modal-body form-inline" style="text-align: center;">
                                <img src="img/surprised.png" />&nbsp;&nbsp;
                                <label>
                                    You asked me to ignore this!
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">OK!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="css\style.css">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/common.js"></script>

    <script type="text/javascript">
        // create angular module
        var app = angular.module('crmui', []);
    </script>

    <!-- load controllers -->
    <script src="js/ProfileViewCtrl.js"></script>
    <script src="js/MenuCtrl.js"></script>

    <script type="text/javascript">

        // drag and drop handler for section, also handles the position
        $(function () {
            var startIndex = 0;
            $('#sections').sortable({
                opacity: 0.5,
                handle: ".draggable_area",
                placeholder: "ui-state-highlight",
                tolerance: 'pointer',
                forceHelperSize: true,
                update: function (event, ui) {
                    $('#sections > .section').each(function (index) {

                        // update position of the section. helpful for database insertion and ordering on page render
                        var sectionPosition = $(this).find('.position');
                        sectionPosition.val(index)
                        // update angular model
                        sectionPosition.trigger('input');
                    });
                }
            });

            // drag and drop handler for feilds, also handles the position
            $(".fields").sortable({
                opacity: 0.5,
                tolerance: 'pointer',
                handle: ".draggable_area",
                forceHelperSize: true,
                update: function (event, ui) {
                    // update position of the fields inside section. helpful for database insertion and ordering on page render
                    $('#sections > .section').each(function () {

                        $(this).find('.fields > .tag-fields').each(function (index) {
                            var fieldPosition = $(this).find('.field-position');
                            fieldPosition.val(index)
                            // update angular model
                            fieldPosition.trigger('input');
                        });
                    });
                }
            });
        });
        $(document).ready(function () {
            $("#spinner").addClass("no-display");
            $(".container-fluid").fadeIn(500);
        });
    </script>
</body>
</html>